body {
    font-family: Arial, sans-serif;
    margin: 70px;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
} 


h2{
    text-align: center;
}
.container_login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
input[type="text"],
input[type="password"],
select,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
img {
    max-width: 100%;
    height: 50px;
    margin-bottom: 20px; 
    display: block; 
    margin: 0 auto;   
}

.logo {
    max-width: 100px;
    margin-right: 10px;
    vertical-align: middle;
}
.menu {
    display: block;
    justify-content: center;
    margin-top: 20px;
}
.menu-item {
    margin: 0 20px;
    padding: 20px
}
.menu-button {
    display: block;
    background-color: #4CAF50;
    width: 200px;
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menu-button:hover {
    background-color: #45a049;
}

/* Menu Cliente */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario fieldset {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group select {
    height: 40px;
}
.form-actions {
    margin-top: 20px;
    display: flex;
}
.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-actions button.primary {
    background-color: #007bff;
    color: #fff;
}
.form-actions button.cancel {
    background-color: #ccc;
    color: #000;
}


.nav_principal a {
    text-decoration: none;
    padding: 30px 30px 0 0;
    /* background: #007bff; */
    color: #000;
    transition: background-color 0.3s;
} */

.menu a:hover {
    background-color: #0056b3;
}

.buttons{
    display:flex
}

.buttons input[type="submit"] {
    margin-right: 10px; /* Ajusta este valor según el espacio que desees entre los botones */
}

.buttons input[type="submit"]:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
}

/* Facturación */
.table-container {
    margin-bottom: 50px;
}
.table-container fieldset {
    margin-bottom: 20px;
}

.facturas {
    width:100%;
}
.facturas th, .facturas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.facturas th {
    background-color: #f2f2f2;
}

.facturas tr:nth-child(even) {
    background-color: #f2f2f2;
}